
nav{
    background-color: #323232;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 800px;
    border: 5px solid #555
}

.center1{
    width: 100%;
    text-align: center;
    display: block;
    padding: 1em 6em 3em;

}

.center2{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

body{
    background-color: #323232;
}

.margin-top2{
    margin-top: 60px;
    padding-top: 20px;
}


.white-text {
    color: white;
}

.margin-top{
    margin-top: 60px;
}

.bottom-index-container{
    margin: 100px auto 100px auto
}

.index-list{

}

.index-img-left{
    float: left;
    text-wrap: normal;
    padding-right: 30px
}

.index-img-right{
    float: right;
    text-wrap: normal;
    padding-left: 30px;
}

.contact-color{
    background-color: #286840;
}

.box{
    height: 1000px;
    width: 600px;
    border: 5px;
    background-color: whitesmoke;
}

.text-box {
    line-height: 2;
}